<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Paso_5_Grupo_3.My.MySettings.STUDENTSConnectionString"
            connectionString="Data Source=DESKTOP-IO8T4S0;Initial Catalog=STUDENTS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>